.expense-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(125, 30, 139);
    color: white;
    padding: 8px;
    border-radius: 5px;
    width: 80px;
  }
  
  .expense-date__month {
    font-size: 0.85rem;
    font-weight: bold;
  }
  
  .expense-date__day {
    font-size: 1.5rem;
  }
  
  .expense-date__year {
    font-size: 0.75rem;
  }
  